body {
    margin: 0;
}
header, footer {
    margin: 20px 30px;
    height: 60vh;
    background-color: #6a92ea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1eeee;
    font-size: 4rem;
    border-radius: 4px;
}

main {
    margin:20px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.box {
    background: #0d47a1;
    color: #fff;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40vh;
    border-radius: 4px;
    font-size: 2rem;

}